.authentication-form{
    width:400px;
}
.font-bold{
    font-weight:bold;
}
.underline{
    text-decoration: underline;
    cursor:pointer;
}
a:hover{
    cursor:pointer;
    color:var(--color-primary);
    text-decoration: underline;
}

.loader-parent{
    position:fixed;
    inset:0;
    background-color: rgba(0,0,0,0.722);
    display:flex;
    justify-content: center;
    align-items:center;
    z-index:100000
}

.loader{
    height:40px;
    width:40px;
    border:5px solid  rgb(35, 155, 81);
    border-top-color: white;
    border-radius: 50%;
    animation: loader-anim 1s linear infinite;
}
.rounded{
    border-radius:4px;
}
.cursor-pointer{
    cursor:pointer;
}
i{
    cursor:pointer;
    font-size: 18px;
}
.uppercase{
    text-transform: uppercase;
}
.disabled-btn{
    cursor:not-allowed;
    opacity:0.5;
}
.error-message{
    background-color: rgb(151, 59, 59);
    color:White;
    padding:10px;
    border-radius:4px;
    
}
table{
    border:1px solid #e8e8e8;
}
@keyframes loader-anim {
    0%{
        transform : rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}