input,textarea,select{
    min-height:40px;
    width:95%;
    border:grey solid 1px;
    padding-left:20px;
    font-size:14px;
}
textarea{
    padding-top:15px;
    min-height:60px
}
.ant-form-item{
    margin-bottom:8px;
}
input:focus,textarea:focus,select:focus{
    outline:none;
    border:grey solid 1px
}
button{
    height:40px;
}